* {
  padding: 0;
  margin: 0;
}

.location-details {
  margin: auto;
  display: flex;
  //align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  height: 50vw;
  font-size: 1.5vw;
  margin-bottom: 10vw;
  font-size: 2.2vw;
}

.location-details__image {
  width: 70%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  p {
    margin: auto;
    text-align: right;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.location-details__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  text-align: left;
  padding-left: 7vw;
  font-size: 3vw;
}

.location-details__info1 {
  height: 15%;
  width: 100%;
}

.location-details__info2 {
  height: 85%;
  margin-top: 5vw;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;

  margin-top: 4vw;
  margin-bottom: 4vw;
}

.button-details {
  border: 1px solid rgb(7, 4, 1);
  margin-top: 30px;
  transition: all 100ms;
  font-size: 4vw;
  font-family: arial, verdana;
  color: rgb(211, 207, 207);
  padding: 2vw;
  border-radius: 6px;
  background: rgb(48, 25, 7);
}

h2 {
  font-family: caveat;
  margin-top: 3vw;
  font-size: 14vw;
}
