.button {
  border: 1px solid rgb(58, 33, 12);
  margin-top: 30px;
  transition: all 100ms;
  font-size: 20px;
  font-family: arial, verdana;
  color: black;
  border-radius: 6px;
  background: rgb(99, 52, 14);
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  border: 1px solid grey;
  margin-top: 30px;
  transition: all 100ms;
  font-size: 20px;
  font-family: arial, verdana;
  color: black;
  border-radius: 6px;
  background: rgb(138, 202, 141);
  font-weight: bold;
}
